{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

    <!--
    Examples of what to show in Dashboard:

    - Ranking of visited documents (from results page)
    - Visitor's preferred browsers
    - Visitor's city (from IP)
    - preferred queries ranking
    - preferred terms
    - etc.

    -->

    <h3>Analytics Dashboard</h3>
    
    <div class="dashboard-flex">
        <div class = "dashboard-plot">
            <iframe src="/plot_number_of_views" width="100%" height="400" style="border: none;"></iframe>
        </div>

        <div class = "dashboard-plot">
            <iframe src="/plot_browsers" width="100%" height="400" style="border: none;"></iframe>
        </div>

        <div class = "dashboard-plot">
            <iframe src="/plot_os" width="100%" height="400" style="border: none;"></iframe>
        </div>
        
        <div class = "dashboard-plot">
            <iframe src="/plot_time" width="100%" height="400" style="border: none;"></iframe>
        </div>
    </div>

<style>
    .dashboard-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .dashboard-plot {
        flex: 1 1 calc(50% - 20px); /* two per row accounting for gap */
        border: 1px solid #ddd;
        border-radius: 2%;
        padding: 10px;
        box-sizing: border-box;
    }
</style>
{% endblock %}


